*,
hrtml {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(182, 182, 182);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.currContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 10px 48px 93px rgba(0, 0, 0, 0.53);
  width: 100%;
  max-width: 400px;
  margin: auto;
  h1 {
    margin: 0 auto 1.2rem;
    font-weight: 100;
  }
  .selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .equals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0.45rem;
    font-size: 2rem;
  }
}
